/* Flex són cajas flexibles que se puede desplazar por la página. Necesitan de dos cosas: Flex conteiner y Flex item.
   Los Flex items són elementos que están dentro de un contenedor con el display flex.
   Por ejemplo: Si tenemos un <div></div> con el display flex y dentro tenemos un p, un b 
   y una imagen, todos estos elementos són Flex Items. */
/* Cuando trabajamos con Flex, las direcciones por defecto són: 
   MAIN AXIS (de la esquieda a la derecha "eje X") y CROSS AXIS (de arriba para bajo "eje Y"). (MIRAR LA IMAGEN EN LA CARPETA)*/
/* Con flex box invertimos todo esto, cambiamos las direcciones, etc.*/
/* los elementos por defecto vienen en el main axis horizontal.*/

/* Main Axis: Main-start (esquierda), Main-end (derecha).
   Cross Axis: Cross-start (arriba), Cross-and (abajo).
*/

* {
    font-family: sans-serif;
    font-weight: 100;
}

/* La altura siempre es la misma. Si una caja tiene más contenido que la otra, no cambian de tamaño, sino que se ajusta el
   contenido.*/
/* La propiedad por defecto del flexbox es que hace con que en base del contenido, se ajusta para mantener la altura.*/
/* Las propiedades del flex afectan a los items pero se les aplican al CONTENEDOR.*/

.flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex-item {
    background-color: #248;
    color: #fff;
    margin: 5px;
    height: 120px;
    width: 120px;
    text-align: center;
}

.orange {
    background: orange;
}

.green {
    background: green;
}

/* para cambiar la posicion de las cajas solo tendremos que cambiar la direccion del MAIN AXIS. 
   (si se cambia el main axis, automaticamente cambia el cross axis).*/

/* Flex-Direction: es una propiedad que nos sirve para cambiar la direccion del main-axis.
   Como todas las propiedades del flex, se le aplica al CONTENEDOR, y afectará a los flex items.
   - Flex-direction: column; Hace con que el main-axis se comporte como una columna
   - Flex-direction: row-reverse; inviertela direccion del main-axis, pasa a ser de derecha a isquierda.
   - Flex-direction: column-reverse; invierte el column, pasa a ser de abajo para arriba.*/


/* Flex-wrap: hace con que se mantenga el tamaño de la caja, y si disminuye el tamaño de la pantalla, no 
   cambiará el tamaño de la caja, sino que se tiran las cajas para abajo para ajustarse al tamaño de la pantalla.
   - flex-wrap: wrap; las cajas van hacia bajo.
   - flex-wrap: wrap-reverse; la caja va hacia arriba.
   - flex-wrap: nowrap; hace con que no se ajuste al tamaño de la pantalla, es el valor que viene por defecto.*/


/* Flex-flow: sirve para escribir el flex-direction y el flex-wrap en un solo codigo: flex-flow: column wrap; .*/