body {
    color: #333;
    font-family: sans-serif;
    background: #000;
}

input {
    display: block;
    width: 100%;
    padding: 9px;
    margin: 12px auto;
    box-sizing: border-box;
    border: none;
    border-top: 2px solid #2c8;
    background-color: transparent;
    outline: none;
    color: #fff;
}

input::placeholder{
    color: #298;
}

input:hover{
    background-color: #2b8;
}

input:hover::placeholder{
    color: #fff;
}

input[type="submit"]{
    width: 50%;
    padding: 12px;
    background: #2c8;
    color: #fff;
    margin: 18px 0;
    margin-bottom: 12px;
}

input[type="submit"]:hover{
    background-color: #084;
}

form {
    width: 86%;
    margin: auto;
    background: #014;
    padding: 30px;
}

h2 {
    color: #fff;
    margin-bottom: 36px;
}

.green {
    color: #4d0;
}

.red {
    color: #d04;
}